# Copier en .env.local et remplir

NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJxxx
SUPABASE_SERVICE_ROLE_KEY=eyJxxx

DATABASE_URL=postgresql://postgres.xxxxx:PASSWORD@aws-0-xx-xxxx-x.pooler.supabase.com:6543/postgres
DIRECT_URL=postgresql://postgres.xxxxx:PASSWORD@aws-0-xx-xxxx-x.pooler.supabase.com:5432/postgres
